.colors__example
  display flex
  height 70px
  padding-bottom  20px

.color__example__preview
  width 70px
  background-color #1F2041
  border-radius 6px

.color__example__text
  padding-left 40px
  font-size: 19px
  line-height: 24px
  display: flex
  justify-content: center
  flex-direction: column

  h2
    margin-top 0
    margin-bottom 3px
  p
    margin-top 3px
    margin-bottom 0

