//- link(rel="stylesheet", href="./colors.styl")
div.colors
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis accusamus odio officiis ratione minus natus perferendis? Omnis quo ullam facilis modi maiores consequatur totam, non, minima nihil ipsam quae repellendus.
    p
    

-
    var list = ["Uno", "Dos", "Tres",
        "Cuatro", "Cinco", "Seis"]
each item in list
  li= item
