doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        //- link(rel="stylesheet", href="style.styl")
    body 
        //div.aa
        //    p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Earum nobis, nihil, optio architecto amet quas ut iste, animi laboriosam ullam atque? Vero asperiores deserunt soluta perferendis culpa est illo dicta?
        include ./colors/colors.pug

        script(src="./index.js") 
