h1
    font-family: Montserrat
    font-size: 24px
    font-style: normal
    font-weight: 700
    line-height: 29px
    letter-spacing: 0em
    text-align: left
    color: #1F2041

h2
    font-family: Montserrat
    font-size: 19px
    font-style: normal
    font-weight: 700
    line-height: 23px
    letter-spacing: 0em
    text-align: left
    color: #1F2041


h3
    font-family: Montserrat
    font-size: 12px
    font-style: normal
    font-weight: 700
    line-height: 15px
    letter-spacing: 0em
    text-align: left
    color: #1F2041

body
    font-family: Montserrat
    font-size: 14px
    font-style: normal
    font-weight: 400
    line-height: 24px
    letter-spacing: 0em
    text-align: left
    color: #1F2041BF
    margin 0px
    padding 0px
    background: #E5E5E5

p
    margin 0px
    padding 0px



